NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyAu6P5d7x7IRoYHCyh59Z_Py4ySk6QMeq4
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=gym-9e925.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=gym-9e925
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=gym-9e925.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=774802404244
NEXT_PUBLIC_FIREBASE_APP_ID=1:774802404244:web:58514bb6cb0cb3f9eb1581
GEMINI_API_KEY=AIzaSyBfB1-nzX9tSsroZy1e1KVCXuc2R3tCe8Y
